body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
ul,
li,
a,
span,
header,
aside,
section,
main,
footer,
nav,
article {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

[src$=".jpg"] {
  border-radius: 4px;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
