body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p,
ul,
li,
a,
span,
header,
aside,
section,
main,
footer,
nav,
article {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

[src$=".jpg"] {
  border-radius: 4px;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font:
    500 1.5rem/1.5 "Poppins",
    sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

blockquote {
  margin: 0px;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font:
    600 1.125rem/1.35 "Poppins",
    sans-serif;
  max-width: max-content;
}

.botao.secundario {
  background-color: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

.botao.seta::after {
  content: "";
  margin-left: 12px;
  display: inline-block;
  width: 18px;
  height: 10px;
  background: url("/img/icones/seta.svg");
  transition: transform 0.2s;
}
