.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
  color: #fff;
}

.introducao-bg {
  background-color: #000;
  box-shadow: inset 0px -120px #fff;
}

.introducao-conteudo h1 span {
  color: #ffbb00;
}

.introducao img {
  border-radius: 4px;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao-conteudo a {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao-conteudo a:hover {
  background: linear-gradient(#ffb600, #e59317);
}
