.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0px -120px var(--cor-0);
}

.introducao p {
  margin-bottom: 20px;
}

.introducao-conteudo a {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font:
    600 1.125rem/1.35 "Poppins",
    sans-serif;
}

@media (max-width: 600px) {
  .introducao-conteudo a {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .introducao-bg {
    box-shadow: inset 0px -60px var(--cor-0);
  }
}

.introducao-conteudo a:hover {
  background: linear-gradient(#ffb600, #e59317);
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 40px;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao-conteudo h1 {
    margin-bottom: 16px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
