.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--cor-11);
}

.titutlo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

.termos {
  padding-bottom: 80px;
  padding-top: 80px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos p + h2 {
  margin-top: 40px;
}

.termos p {
  margin-bottom: 24px;
  max-width: 75ch;
}
